.title
  %strong Shorten your links in the <i>blink</i> of an eye.<br><br><br>

.body

  - if user_signed_in?
    %p 
      You are signed in as:
      = current_user

  %p
    To generate a shortened URL, enter the long address below:

#row-fluid
  = form_for @site do |f|
    .field
      = f.text_field :destination
    .action
      = f.submit 'Shorten it!'

%br
%br
%br
%br

- unless user_signed_in?
  %center
    Why not
    = link_to " register?", new_user_registration_path
    You'll be able to save your links if you do.
