.title
  %strong Sorry, couldn't find a match for that link. <br><br>

.body
  %p
  - if @destination
    Destination is:
    = @destination
  - else
    No destination
  %br

  - if @path
    Path variable is:
    = @path
  - else
    No path value
  %br

  - if request.url
    request url is:
    = request.url
  - else
    No request url
  %br

  - if request.host_with_port
    host with port is:
    = request.host_with_port
  - else
    No host_with_port
  %br

%p 
  = link_to 'home page', root_path
