%h2
  = @heading

%br

= paginate @sites

%table.table-striped.table-condensed
  %tr
    %th Rank
    %th Short link
    %th Destination
    %th Use count
    %th View
    - if current_user.try(:admin?)
      %th Delete

  - @sites.each_with_index do |site, idx|
    %tr
      %td= @page_count + idx + 1
      %td= link_to root_url+site.short_path, root_url+site.short_path
      %td= truncate(site.destination, :length => 60)
      %td= site.count
      %td= link_to 'Show', site
      - if current_user.try(:admin?)
        %td= link_to 'Delete', site, :confirm => 'Are you sure?', :method => :delete


%br

= link_to 'Make New Link', root_path
