%p#notice= notice

%p
  %b Your short link:
  = @short_path
%p
  %b Destination:
  = @site.destination
%p
  %b Count:
  = @site.count

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
