%h2 Your links, ranked by most used

%br

= paginate @sites

%table.table-striped.table-condensed
  %tr
    %th Rank
    %th Short path
    %th Destination
    %th Times used
    %th View
    %th Delete

  - @sites.each_with_index do |site, idx|
    %tr
      %td= @page_count + idx + 1
      %td= link_to root_url+site.short_path, root_url+site.short_path
      %td= truncate(site.destination, :length => 60)
      %td= site.count
      %td= link_to 'Show', site
      %td= link_to 'Delete', site, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Make links, not war', root_path
