%h1 Your Link Stash

%br
%table.table-striped.table-condensed
  %tr
    %th Rank
    %th Short path
    %th Destination
    %th Times used
    %th
    %th

  - @sites.each_with_index do |site, idx|
    %tr
      %td= idx + 1
      %td= site.short_path
      %td= site.destination
      %td= site.count
      %td= link_to 'Show', site
      %td= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Make links, not war', root_path
